* {
    box-sizing: border-box;
    user-select: none;
}

.Copyable {
    cursor: pointer;

    &:active {
        opacity: 0.8;
    }
}

.Searching {
    transform-origin: 50% 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.CodePreview {
    background: var(--vscode-textPreformat-background);
    border: 1px solid var(--button-border);
    border-radius: inherit;
    padding: 1rem;
    width: 100%;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);

    span {
        &[name="name"] {
            color: var(--vscode-debugTokenExpression-name);
        }

        &[name="icon"] {
            color: var(--vscode-debugTokenExpression-type);
        }

        &[name="string"] {
            color: var(--vscode-debugTokenExpression-string);
        }
    }
}

.Loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7rem - 1px);
    width: 100%;
}

.Loading p {
    text-align: center;
    margin-top: 1rem;
}

.MainSelector {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    padding: 1rem;

    .Sidebar {
        width: 230px;
        padding-right: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .Info p {
            font-size: 10px;
            margin: 0;
        }

        .Action {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .TextFilter {
            font-weight: bold;
            margin-bottom: 0.5rem;
            margin-top: 0;
        }
    }

    .Selector {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .IconList {
            width: 100%;
            height: calc(100dvh - 7rem - 1px);
            display: flex;
        }

        .ListIcon {
            width: 100%;
            height: 100%;
            overflow: auto;
            position: relative;

            .IconItem {
                width: calc(70px + 0.6rem * 2);
                padding: 0.6rem;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                border: 1px solid transparent;
                display: inline-block;
            }

            .IconItem:hover {
                background: var(--vscode-button-secondaryHoverBackground);
            }

            .IconItem:active {
                border-color: var(--vscode-focusBorder);
                background: var(--vscode-button-secondaryHoverBackground);
            }

            .IconItem .Preview {
                width: 70px;
                height: 70px;
                flex: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .IconItem .Name {
                font-size: 10px;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                text-align: center;
            }
        }

        .IconPreview {
            width: 100%;
            padding: 1rem;

            .Title {
                margin: 0;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
            }

            .Preview {
                margin-top: 2rem;
                display: flex;
                align-items: center;

                .Crossboard {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .Icon {
                        user-select: none;
                        width: 1em;
                        height: 1em;
                        display: inline-block;
                        fill: currentcolor;
                        flex-shrink: 0;
                        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                        font-size: 210px;
                        color: rgb(255, 255, 255);
                        background-size: 30px 30px;
                        background-color: transparent;
                        background-position: 0px 0px, 0px 15px, 15px -15px, -15px 0px;
                        background-image: linear-gradient(45deg, rgb(89, 89, 89) 25%, transparent 25%), linear-gradient(-45deg, rgb(89, 89, 89) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgb(89, 89, 89) 75%), linear-gradient(-45deg, transparent 75%, rgb(89, 89, 89) 75%);
                    }
                }

                .Demo {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;

                    .Section {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .Icon {
                            margin: 0 1rem;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .Copyable {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}