name: CI
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: npm i -g pnpm
      - run: pnpm i --frozen-lockfile
      - name: Testing extension
        run: |
          if [[ ${{ runner.os }} == 'Linux' ]]; then
            xvfb-run -a pnpm test
          else
            pnpm test
          fi
      - name: Install Web dependencies
        run: cd web && pnpm i --frozen-lockfile
      - name: Testing Web
        run: |
          cd web
          if [[ ${{ runner.os }} == 'Linux' ]]; then
            xvfb-run -a pnpm test
          else
            pnpm test
          fi
      - name: Trying build web
        run: cd web && pnpm run build
